.border {
    border: solid;
    padding: 4em;
}

.DisplayTitle {
    color: white;
}

.jumbobackground {
    background: black;
    justify-content: center;
}

.form-group {
    width: 100%;
}

.moveButton {
    float: right;
    padding-right: 2em;
}

.centergrid {
    justify-content: center;
    margin: auto;
}